<form [formGroup]="smartForm" (ngSubmit)="callOnSubmit()">
  <div *ngFor="let input of inputs" class="form-group">
    <label [for]="input.name">{{ input.label }}</label>

    <!-- XXX: why does it return selected as array, when there's on 'multiple' attr -->
    <select *ngIf="input.type === 'select'" [formControlName]="input.name" class="form-control" [multiple]="input.config?.select?.multiple">
      <option *ngFor="let i of input.config?.select?.options" [value]="i.value">{{ i.text }}</option>
    </select>

    <textarea *ngIf="input.type === 'textarea'" [formControlName]="input.name" class="form-control"></textarea>

    <input *ngIf="input.type === 'text' || input.type === 'email'" [formControlName]="input.name" [name]="input.name" [id]="input.name"
      [type]="input.type" [placeholder]="input.placeholder || ''" class="form-control">
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!smartForm.valid">{{ settings.buttons.submit.value }}</button>
</form>